<!--All Industries Index-->
        <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <p><a class="navbar-brand" href="/">&nbsp;Home</a></p>
                </div>
               
                    <!-- <ul class="nav navbar-nav navbar-right">
                        <!-- Dropdown <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Dropdown
                                    <b class="caret"></b>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                              </ul>
                        </li>--> 
                         <div class="collapse navbar-collapse">
                </div>
            </div>
        </nav> 
        <div class="content">
            <div class="container-fluid"> 
      
        <h1>HU Investment Group Research Database</h1>
       
        
        <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Instructions</h3>
        <p class="card-text">
           Upload or view an industry in the view sectors section. Please be advised that this is confidential and propritory information and should not be shared.
           Once pitches and other items are deleted you cannot retrieve those files so  
           
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Special title treatment</h3>
        <p class="card-text">
        
            Rutrum pariatur eu mauris dui donec. Malesuada neque in adipiscing accumsan, hendrerit nullam volutpat mauris donec, 
            diam tincidunt nec nemo volutpat, vivamus adipiscing quis dolorem luctus. Posuere pellentesque metus nulla ante ut, 
            libero viverra risus ullamcorper nam. 
   
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div> 
