<!--All Industries Index-->
      
    <div class="content">
        <div class="container-fluid"> 
      
      
     
     <!---  <%= image_tag("green-finance.gif", :size => "1100x275") %>  ---> 
     <img src="http://res.cloudinary.com/dop68xspe/image/upload/v1492139220/fina_xzvhqs.jpg"  style="width: 100%;max-height: 100%" />
    
       
        <center><h1>Howard University Investment Group Research Database</h1> 
        
      </center>
        
         <div class="col-md-4">
                        <div class="card card-user">
                            <div class="image">
                                <img src="http://res.cloudinary.com/dop68xspe/image/upload/v1492136583/fina_cubvzk.jpg" alt="..."/>
                            </div>
                            <div class="content">
                                <div class="author">
                                     <a href="#">
                                    <img class="avatar border-gray" src="http://res.cloudinary.com/dop68xspe/image/upload/v1492134902/AAEAAQAAAAAAAAykAAAAJDhkZDdhZDc1LTdiMTktNDdmNy1hYmJjLTBlOWRiZWE1OGY5OQ_q4k4wn.jpg" alt="..."/>

                                      <h4 class="title">Kandice Smith</h4>
                                    </a> 
                                    <p class="description text-center"><br>
                                                    Kandice is a Junior Finance major from Trinidad & Tobago. <br>
                                                    She joined Investment Group in 2015 as a research analyst in the Energy sector.<br>
                                                    In 2017, she will be working as a summer intern at Chicago Fundamental Investment Partners
                                                    She now serves as a portfolio manager for the Investment Group.

                                </p>
                                </div>
                                
                            </div>
                            <hr>
                            <div class="text-center">
                                <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
                                <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
                                <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>

                            </div>
                        </div>
                    </div> 
                    
                     <div class="col-md-4">
                        <div class="card card-user">
                            <div class="image">
                                <img src="http://res.cloudinary.com/dop68xspe/image/upload/v1492136996/finann_js4e4c.jpg" alt="..."/>
                            </div>
                            <div class="content">
                                <div class="author">
                                     <a href="#">
                                    <img class="avatar border-gray" src="http://res.cloudinary.com/dop68xspe/image/upload/v1492134902/AAEAAQAAAAAAAAmJAAAAJGI4NGQxMDhjLTIwMWEtNDhhNy1hZmY3LTI2ZWJhNGE2NjA4Mg_pfi65b.jpg" alt="..."/>

                                      <h4 class="title">Carlis Robinson<br />
                                      </h4>
                                    </a>
                                    <p class="description text-center"> <br> Carlis is a junior Finance Major from the Bahamas.
                                    He joined Investment Group in 2015 as a research analyst in the Consumer/Retail sector.
                                    In 2017, he will be working at Deutsche Bank in the Investment Banking Department.
                                    He now serves as a portfolio manager for the Investment Group <br><br>

                                </p>
                                </div>
                                
                            </div>
                            <hr>
                            <div class="text-center">
                                <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
                                <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
                                <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>

                            </div>
                        </div>
                    </div> 
                    
                     <div class="col-md-4">
                        <div class="card card-user">
                            <div class="image">
                                <img src="http://res.cloudinary.com/dop68xspe/image/upload/v1492136875/fina2_pdrdcm.jpg" alt="..."/>
                            </div>
                            <div class="content">
                                <div class="author">
                                     <a href="#">
                                    <img class="avatar border-gray" src="http://res.cloudinary.com/dop68xspe/image/upload/v1492134902/AAEAAQAAAAAAAAzlAAAAJGEwZGIyYTQ0LTUzZjMtNGI2NS1hZjBlLTIxZDY5NDllMjExOA_drpdj1.jpg" alt="..."/>

                                      <h4 class="title">Ronelle Green</h4>
                                      </h4>
                                    </a>
                                    <p class="description text-center"><br> Ronelle is a Junior International Business major from Jamaica
                                    She joined Investment Group in 2016 as a research analyst in the Consumer/Retail sector.
                                    In 2017, she will be working as a summer intern at FTI Consulting. She
                                    now serves as portfolio manager for the Investment Group<br><br>
                                </p>
                                </div>
                                
                            </div>
                            <hr>
                            <div class="text-center">
                                <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
                                <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
                                <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>

                            </div>
                        </div>
                    </div>
                    
                    
                    
                    
        </div> 
        
         <div class="content">
                        <div class="row">
                            <div class="col-md-6">
                                <h5>Notifications Style</h5>
                                <div class="alert alert-info">
                                    <span>Upload or view an industry in the view sectors section. Please be advised that this is confidential and propritory information and should not be shared.
                   Once pitches and other items are deleted you cannot retrieve those files</span>
                                </div>
        
                                <div class="alert alert-info alert-with-icon" data-notify="container">
                                    <span data-notify="icon" class="pe-7s-bell"></span>
                                    <span data-notify="message"> Upload or view an industry in the view sectors section. Please be advised that this is confidential and propritory information and should not be shared.
                   Once pitches and other items are deleted you cannot retrieve those files</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h5>Notification states</h5>
                                <div class="alert alert-info">
                                    <button type="button" aria-hidden="true" class="close">×</button>
                                    <span><b> Info - </b> This is a regular notification made with ".alert-info"</span>
                                </div>
                                <div class="alert alert-success">
                                    <button type="button" aria-hidden="true" class="close">×</button>
                                    <span><b> Success - </b> This is a regular notification made with ".alert-success"</span>
                                </div>
                                <div class="alert alert-warning">
                                    <button type="button" aria-hidden="true" class="close">×</button>
                                    <span><b> Warning - </b> This is a regular notification made with ".alert-warning"</span>
                                </div>
                                <div class="alert alert-danger">
                                    <button type="button" aria-hidden="true" class="close">×</button>
                                    <span><b> Danger - </b> This is a regular notification made with ".alert-danger"</span>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                       
                    </div>
        
        
        
        
    </div>

