
    <!--All Industries Index-->
        <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <p><a class="navbar-brand" href="/">&nbsp;Home</a></p>
                </div>
               
                    <!-- <ul class="nav navbar-nav navbar-right">
                        <!-- Dropdown <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Dropdown
                                    <b class="caret"></b>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                              </ul>
                        </li>--> 
                         <div class="collapse navbar-collapse">
                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
               
 <div class="row">
  <div class="col-xs-6 col-md-4"> 
      <a href="home/consumer.html" class="tilter tilter--1">
					<figure class="tilter__figure">
						<img class="tilter__image" src="http://res.cloudinary.com/dop68xspe/image/upload/v1490041567/timesquare_vsrzxf.jpg" alt="img01" />
						<div class="tilter__deco tilter__deco--shine"><div></div></div>
						<figcaption class="tilter__caption">
							<h3 class="tilter__title">Consumers</h3>
						</figcaption>
						<svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
							<path d="M20.5,20.5h260v375h-260V20.5z" />
						</svg>
					</figure>
				</a>  
	    </div> 
   <div class="col-xs-6 col-md-4">  
      <a href="home/health.html" class="tilter tilter--1">
					<figure class="tilter__figure">
						<img class="tilter__image" src="http://res.cloudinary.com/dop68xspe/image/upload/v1490041565/stethescope_objfo0.jpg" alt="img01" />
						<div class="tilter__deco tilter__deco--shine"><div></div></div>
						<figcaption class="tilter__caption">
							<h3 class="tilter__title">Healthcare</h3>
						</figcaption>
						<svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
							<path d="M20.5,20.5h260v375h-260V20.5z" />
						</svg>
					</figure>
				</a>  
	      </div> 
	      
	 <div class="col-xs-6 col-md-4">  
      <a href="home/energy.html" class="tilter tilter--1">
					<figure class="tilter__figure">
						<img class="tilter__image" src="http://res.cloudinary.com/dop68xspe/image/upload/v1490041566/energy_srevio.jpg" alt="img01" />
						<div class="tilter__deco tilter__deco--shine"><div></div></div>
						<figcaption class="tilter__caption">
							<h3 class="tilter__title">Energy</h3>
						</figcaption>
						<svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
							<path d="M20.5,20.5h260v375h-260V20.5z" />
						</svg>
					</figure>
				</a>  
	      </div> 
	      
	</div> 
	
 <div class="row">
  <div class="col-xs-6 col-md-4"> 
      <a href="home/industrials.html" class="tilter tilter--1">
					<figure class="tilter__figure">
						<img class="tilter__image" src="http://res.cloudinary.com/dop68xspe/image/upload/v1490041564/industrial_x2rajr.jpg" alt="img01" />
						<div class="tilter__deco tilter__deco--shine"><div></div></div>
						<figcaption class="tilter__caption">
							<h3 class="tilter__title">Industrial</h3>
						</figcaption>
						<svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
							<path d="M20.5,20.5h260v375h-260V20.5z" />
						</svg>
					</figure>
				</a>  
	    </div> 
   <div class="col-xs-6 col-md-4">  
      <a href="home/medtel.html" class="tilter tilter--1">
					<figure class="tilter__figure">
						<img class="tilter__image" src="http://res.cloudinary.com/dop68xspe/image/upload/v1490041567/telecom_uzpgay.jpg" alt="img01" />
						<div class="tilter__deco tilter__deco--shine"><div></div></div>
						<figcaption class="tilter__caption">
							<h3 class="tilter__title">Media</h3>
						</figcaption>
						<svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
							<path d="M20.5,20.5h260v375h-260V20.5z" />
						</svg>
					</figure>
				</a>  
	      </div> 
	      
	 <div class="col-xs-6 col-md-4">  
      <a href="home/technology.html" class="tilter tilter--1">
					<figure class="tilter__figure">
						<img class="tilter__image" src="http://res.cloudinary.com/dop68xspe/image/upload/v1490041566/tech2_jfne8x.jpg" alt="img01" />
						<div class="tilter__deco tilter__deco--shine"><div></div></div>
						<figcaption class="tilter__caption">
							<h3 class="tilter__title">Technology</h3>
						</figcaption>
						<svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
							<path d="M20.5,20.5h260v375h-260V20.5z" />
						</svg>
					</figure>
				</a>  
	      </div> 
	</div> 
	
	<div class="row">
  <div class="col-xs-6 col-md-4"> 
      <a href="home/finance.html" class="tilter tilter--1">
					<figure class="tilter__figure">
						<img class="tilter__image" src="http://res.cloudinary.com/dop68xspe/image/upload/v1490041565/finance_idqavb.jpg" alt="img01" />
						<div class="tilter__deco tilter__deco--shine"><div></div></div>
						<figcaption class="tilter__caption">
							<h3 class="tilter__title">Finance</h3>
						</figcaption>
						<svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
							<path d="M20.5,20.5h260v375h-260V20.5z" />
						</svg>
					</figure>
				</a>  
	    </div> 
   <div class="col-xs-6 col-md-4">  
      <a href="home/utilities.html" class="tilter tilter--1">
					<figure class="tilter__figure">
						<img class="tilter__image" src="http://res.cloudinary.com/dop68xspe/image/upload/v1490041567/utility_vmkmpl.jpg" alt="img01" />
						<div class="tilter__deco tilter__deco--shine"><div></div></div>
						<figcaption class="tilter__caption">
							<h3 class="tilter__title">Utilities</h3>
						</figcaption>
						<svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
							<path d="M20.5,20.5h260v375h-260V20.5z" />
						</svg>
					</figure>
				</a>  
	      </div> 
	</div> 
	
	

