<div class="wrapper">
    <div class="sidebar" data-color="blue" data-image="http://res.cloudinary.com/dop68xspe/image/upload/v1490041566/side_ln9lur.gif">

    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <center>
                    <h6>Investment Group</h6>
                </center>
                </a>
            </div>
            
            <ul class="nav">
                <!-- Dropdown Template -->
<li>
    <a href="home/about.html">
       <i class="fa fa-address-book" aria-hidden="true"></i>
        <p>About</p>
    </a>
</li>
<li class="active" ><a href="/"><i class="fa fa-circle-o-notch" aria-hidden="true"></i>
    <p>View All Industries</p></a>
</li>                             
<li>
    <a data-toggle="collapse" href="#pagesExamples">
       <i class="fa fa-plus-circle" aria-hidden="true"></i>
        <p><strong>Select Sector</strong>
            <b class="caret"></b>
        </p>
    <div class="collapse" id="pagesExamples">
        <ul class="nav">
                 <li >
    <a href="home/consumer.html">
       <i class="fa fa-users" aria-hidden="true"></i>
        <p>Consumers</p>
    </a>
</li>
<li>
    <a href="home/energy.html">
        <i class="fa fa-plug" aria-hidden="true"></i>
        <p>Energy</p>
    </a>
</li>
<li>
    <a href="home/finance.html">
        <i class="fa fa-money" aria-hidden="true"></i>
        <p>Financials</p>
    </a>
</li>
<li>
    <a href="home/health.html">
        <i class="fa fa-heart-o" aria-hidden="true"></i>
        <p>Healthcare</p>
    </a>
</li>
<li>
    <a href="home/industrials.html">
        <i class="fa fa-flask" aria-hidden="true"></i>
        <p>Industrials</p>
    </a>
</li>
<li>
    <a href="home/medtel.html">
        <i class="fa fa-television" aria-hidden="true"></i>
        <p>Media/Telecom</p>
    </a>
</li>
<li>
    <a href="home/technology.html">
        <i class="fa fa-laptop" aria-hidden="true"></i>
        <p>Technology</p>
    </a>
</li>
 <li>
    <a href="home/utilities.html">
        <i class="fa fa-bolt" aria-hidden="true"></i>
        <p>Utilities</p>
    </a>
</li> 
</ul>           
        </li>
                  
<!-- Dropwdown Tempalte End -->
    	</div>
    </div>